html, body{
    height: 100%;
    margin: 0;
}
.rowpush {
    padding-left: 664px;
}
.contact-me {
    margin-left: 40px;
    font-family: fantasy;
    font-size: 85px;
    padding-top: 184px;
}
.bg {
    background-size: contain;
    background-size: 2250px;
    background-repeat: no-repeat;
}
#btm-half {
    /* background-image: url("./photos/pexels-life-of-pix-8892.jpg"); */
    background-color: gray;
    margin-left: 0px;
}
.bottom {
    margin-top: -20px;
    padding-top: 172px;
}
.contact {
    color:rgb(248, 26, 26);
}
.nav2 {
    overflow: show;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: show;
    background-color: #333;
  }
  
  li {
    float: right;
    font-size: 25px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    /* background-color: #111; */
    color: red;
  }