html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
footer {
    background-color:rgb(93, 129, 118);
    padding: 17px;
}
.mobile-container {
    visibility: hidden;
    height: 0px;
  }
.font {
    font-weight: normal;
}
#borderFix {
    padding-left: 0px;
    padding-right: 0px;
}
.font2 {
    padding-left: 12px;
    font-weight: normal;
}
.link-push {
    margin-left: 628px;
}
.link-push2 {
    margin-top: 25px;
}
.fab {
    position: relative;
    
}
.container-fluid{
    position: relative;
}
.form-back{
    position: absolute;
    padding: 30px;
    max-width: 50%;
}
.formshrink {
    padding-left: 25px;
    padding-right: 18px;
}
.row {
    padding-left: unset;
    margin-top: unset;
}
.rowpush {
    padding-left: 664px;
}
.contact-me {
    margin-left: 40px;
    font-family: fantasy;
    font-size: 85px;
    padding-top: 184px;
}
.bg {
    background-image: url("./photos/pexels-johnmark-smith-281962.jpg");
    background-size:cover;
    background-size: 2250px;
    background-repeat: no-repeat;
    margin-top: -16px;
}
#btm-half {
    /* background-image: url("./photos/pexels-life-of-pix-8892.jpg"); */
    background-color: rgb(108, 110, 97);
    margin-left: -12px;
    height: 700px;
    position:relative;
}
.row-edit {
    padding-top: 20px;
}
.submit {
    margin-left: 40px;
}
.card-back {
    background-color: rgb(93, 129, 118);
    margin-right: 669px;
    margin-left: 628px;
    padding-bottom: 20px;
    padding-top: 14px;
    border-radius: 30px;
}
.message-padding {
    font-size: 20px;
    padding-left: 200px;
}
.bottom {
    margin-top: -160px;
    padding-top: 172px;
}
.contact {
    color:rgb(93, 129, 118);
}
.nav2 {
    overflow: show;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: show;
    background-color: #333;
  }
  
  li {
    float: right;
    font-size: 25px;
    padding-top: 15px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    /* background-color: #111; */
    color: rgb(93, 129, 118);
  }