.photo{
    width: auto;
    height: auto;
}
.contact{
    color:rgb(248, 26, 26);
}
.nav2{
    overflow: show;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: show;
    background-color: #333;
  }
  
  li {
    float: right;
    font-size: 25px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }