@media only screen and (max-width: 600px) {
    .mobile-container {
        margin: auto;
        color: white;
        border-radius: 10px;
        visibility: visible;
      }
      .nav2 {
          visibility: hidden;
      }
      .topnav {
        overflow: hidden;
        position: relative;
        width: 374px;
      }
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: inherit;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 40px;
        display: block;
      }
      
      .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: inherit;
        color: inherit;
      }
      
      .active {
        color: white;
      }
      .adjust {
        color: transparent;
    }

}