@media only screen and (max-width: 600px) {
    .bg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 72%;
        width: 376px;
    }
    .text {
        font-size: 21px;
    }
    .text-edit2 {
        padding-left: 77px;
    }
    .text-edit {
      padding-left: 39px;
    }
    .text-edit3 {
      padding-left: 73px;
    };
    .text-edit4 {
      padding-left: 91px;
    }
    .text-edit5 {
      padding-left: 75px;
    }
    .text-edit6 {
      padding-left: 99px;
    }
    #mobile {
        width: 376px;
    }
    .btn-edit {
        margin-left: 79px;
    }
    .imgSize {
        margin-left: -9px;
        width: 270px;
        height: 181px
    }
    .imgSize2 {
      margin-left: 3px;
    }
    .imgSize3 {
      margin-left: 3px;
    }
    .imgSize4 {
      margin-left: 3px;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
      }
    .adjust {
        color: transparent;
    }
    #portcard {
        margin-left: 31px;
        width: 292px;
        height: 556px;
        padding: 20px;
    }
    #portcard2 {
        width: 303px;
        margin-left: 27px;
    }
    #portcard3 {
      height: 615px;
      padding: 20px;
      margin-left: 31px;
      width: 292px;
    }
    .break {
        width: 376px;
    }
      .mobile-container {
        margin: auto;
        color: white;
        border-radius: 10px;
        visibility: visible;
      }
      .nav2 {
          visibility: hidden;
      }
      .topnav {
        overflow: hidden;
        position: relative;
        width: 374px;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
          color: inherit;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 40px;
        display: block;
      }
      
      .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: inherit;
        color: inherit;
      }
      
      .active {
        color: white;
      }

}