.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 36%;
  margin-top: -16px;
  background-image: url("./photos/photo-1542831371-29b0f74f9713.jpg");
}
.btn-edit {
    margin-left: 160px;
}
.text {
    font-size: 20px;
    padding: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.break {
    background-color: white;
    font-size: 10px;
}
.portcard {
    background-color: rgb(11,123,152);
    padding: 20px;
    margin: 20px;
    margin-left: 400px;
    border-radius: 20px;
}
.imgSize {
    width: 400px;
    height: 233px;
    margin-left: 17px;
}
.portcard2 {
    background-color: rgb(11,123,152);
    padding: 20px;
    margin: 20px;
    margin-left: 200px;
    padding-bottom: 215px;
    border-radius: 20px;
}
.contact {
  color: rgb(180, 2, 66);
}
.footerpush {
  padding-bottom: 20px;
}
footer {
  background-color: rgb(180, 2, 66);
  margin-top: 840px;
  padding-top: 25px;
  position: relative;
}
.color {
    background-color: rgb(43,43,53);
    margin-top: -10px;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(43,43,53);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: show;
  background-color: #333;
}

li {
  float: right;
  font-size: 25px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.container-fluid{
    position: relative;
}
li a:hover {
  /* background-color: #111; */
  color: rgb(180, 2, 66);
}
  button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}