/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .bg {
        background-size:stretch;
        /* background-size: 2250px; */
        background-repeat: no-repeat;
    }
    .navmobile {
        visibility: hidden;
    }
    html, body {
        margin: 0;
        size: auto;
    }
    .main-text {
        padding-left: 0px;
        padding-top: 34px;
    }
    .main-text2 {
        padding-left: 0px;
        font-size: 27px;
    }
    .main-text3 {
        padding-left: 0px;
        font-size: 50px;
        margin-left: 83px;
        margin-top: -20px;
    }
    .button {
        padding-left: 57px;
        margin-top: 170px;
        margin-left: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 