/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .bg {
        /* background-size:stretch; */
        /* background-size: 2250px; */
        background-size: 375px 812px;
        background-repeat: no-repeat;
        background-image: url("./photos/mobileBG.jpg");
        visibility: visible;
    }
    .navmobile {
        visibility: hidden;
    }
    html {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    body {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;  
    }
    .main-text {
        padding-left: 0px;
        padding-top: 0px;
        width: 200px;
    }
    .main-text2 {
        padding-left: 0px;
        font-size: 27px;
        width: 350px;
    }
    .main-text3 {
        padding-left: 0px;
        font-size: 50px;
        margin-left: 83px;
        margin-top: -20px;
        width: 250px;
    }
    .button {
        padding-left: 57px;
        margin-top: 170px;
        margin-left: 0px;
    }
    p{
        font-family: "Courier";
        font-size: 20px;
        margin: 10px 0 0 10px;
        white-space: nowrap;
        overflow: hidden;
        width: 30em;
        animation: type 1s steps(60, end); 
      }
      
      @keyframes type{ 
        from { width: 0; } 
      } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 