.about{
  color: rgb(180, 2, 66);
}
.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./photos/photo-1501756958875-56125c5fb897.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: show;
    background-color: #333;
  }
  
  li {
    float: right;
    font-size: 25px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .button2:hover {
    /* background-color: #111; */
    color: rgb(180, 2, 66);
  }

  li a:hover {
    /* background-color: #111; */
    color: rgb(180, 2, 66);
  }
.main-text {
    color: white;
    font-size: 50px;
    padding-top: 350px;
    padding-left: 600px;
    border: black;
    border-width: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-text2{
    color:white;
    padding-left: 650px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-text3{
  color: rgb(180, 2, 66);
    padding-left: 800px;
    font-size: 50px;
    margin-left: 15px;
    margin-top: -90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button {
    background: transparent;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 782px;
  }
.fa-arrow-right{
    font-size: 45px;
    margin-left: 20px;
}
.size{
    font-size: 30px;
}
p{
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 3s steps(60, end); 
  }
  
  @keyframes type{ 
    from { width: 0; } 
  } 